In [28]:
#Import libraries, load sql data
%load_ext sql
%sql sqlite:///database.sqlite
import pandas as pd
import sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [43]:
#Check tables
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///database.sqlite
Done.

[('international_debt',)]

In [ ]:
#Check international_debt tables

In [87]:
%sql SELECT * FROM international_debt LIMIT 10;

 * sqlite:///database.sqlite
Done.

[('Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', 72894453.7),
 ('Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', 53239440.1),
 ('Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', 61739336.9),
 ('Afghanistan', 'AFG', 'PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', 49114729.4),
 ('Afghanistan', 'AFG', 'PPG, bilateral (INT, current US$)', 'DT.INT.BLAT.CD', 39903620.1),
 ('Afghanistan', 'AFG', 'PPG, multilateral (AMT, current US$)', 'DT.AMT.MLAT.CD', 39107845),
 ('Afghanistan', 'AFG', 'PPG, multilateral (DIS, current US$)', 'DT.DIS.MLAT.CD', 23779724.3),
 ('Afghanistan', 'AFG', 'PPG, multilateral (INT, current US$)', 'DT.INT.MLAT.CD', 13335820),
 ('Afghanistan', 'AFG', 'PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', 100847181.9),
 ('Afghanistan', 'AFG', 'PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', 72894453.7)]

In [49]:
#Now let see how many countries in this tables
%sql SELECT COUNT(DISTINCT country_name) FROM international_debt;

 * sqlite:///database.sqlite
Done.

[(124,)]

In [48]:
#Which countries are in the tables
%sql SELECT DISTINCT country_name FROM international_debt;

 * sqlite:///database.sqlite
Done.

[('Afghanistan',),
 ('Albania',),
 ('Algeria',),
 ('Angola',),
 ('Armenia',),
 ('Azerbaijan',),
 ('Bangladesh',),
 ('Belarus',),
 ('Belize',),
 ('Benin',),
 ('Bhutan',),
 ('Bolivia',),
 ('Bosnia and Herzegovina',),
 ('Botswana',),
 ('Brazil',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burundi',),
 ('Cabo Verde',),
 ('Cambodia',),
 ('Cameroon',),
 ('Central African Republic',),
 ('Chad',),
 ('China',),
 ('Colombia',),
 ('Comoros',),
 ('Congo, Dem. Rep.',),
 ('Congo, Rep.',),
 ('Costa Rica',),
 ("Cote d'Ivoire",),
 ('Djibouti',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Georgia',),
 ('Ecuador',),
 ('Egypt, Arab Rep.',),
 ('El Salvador',),
 ('Eritrea',),
 ('Eswatini',),
 ('Ethiopia',),
 ('Fiji',),
 ('Gabon',),
 ('Gambia, The',),
 ('Ghana',),
 ('Grenada',),
 ('Guatemala',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('IDA only',),
 ('India',),
 ('Indonesia',),
 ('Iran, Islamic Rep.',),
 ('Jamaica',),
 ('Jordan',),
 ('Kazakhstan',),
 ('Kenya',),
 ('Kosovo',),
 ('Kyrgyz Republic',),
 ('Lao PDR',),
 ('Lesotho',),
 ('Least developed countries: UN classification',),
 ('Lebanon',),
 ('Liberia',),
 ('Macedonia, FYR',),
 ('Madagascar',),
 ('Malawi',),
 ('Maldives',),
 ('Mali',),
 ('Mauritania',),
 ('Mauritius',),
 ('Mexico',),
 ('Mongolia',),
 ('Moldova',),
 ('Montenegro',),
 ('Morocco',),
 ('Mozambique',),
 ('Myanmar',),
 ('Nepal',),
 ('Nicaragua',),
 ('Niger',),
 ('Nigeria',),
 ('Pakistan',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Peru',),
 ('Philippines',),
 ('Romania',),
 ('Russian Federation',),
 ('Rwanda',),
 ('Samoa',),
 ('Sao Tome and Principe',),
 ('Senegal',),
 ('Serbia',),
 ('Sierra Leone',),
 ('Solomon Islands',),
 ('Somalia',),
 ('South Africa',),
 ('South Asia',),
 ('Sri Lanka',),
 ('St. Lucia',),
 ('St. Vincent and the Grenadines',),
 ('Sudan',),
 ('Syrian Arab Republic',),
 ('Tajikistan',),
 ('Tanzania',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Togo',),
 ('Tonga',),
 ('Tunisia',),
 ('Turkey',),
 ('Turkmenistan',),
 ('Uganda',),
 ('Ukraine',),
 ('Uzbekistan',),
 ('Vanuatu',),
 ('Venezuela, RB',),
 ('Vietnam',),
 ('Yemen, Rep.',),
 ('Zambia',),
 ('Zimbabwe',)]

In [82]:
#Check how many types of debt by checking debt indicators
%sql SELECT DISTINCT indicator_code, indicator_name, COUNT(indicator_code) as count FROM international_debt GROUP BY 1 ORDER BY 3 DESC,1 DESC;

 * sqlite:///database.sqlite
Done.

[('DT.INT.OFFT.CD', 'PPG, official creditors (INT, current US$)', 124),
 ('DT.INT.MLAT.CD', 'PPG, multilateral (INT, current US$)', 124),
 ('DT.INT.DLXF.CD', 'Interest payments on external debt, long-term (INT, current US$)', 124),
 ('DT.AMT.OFFT.CD', 'PPG, official creditors (AMT, current US$)', 124),
 ('DT.AMT.MLAT.CD', 'PPG, multilateral (AMT, current US$)', 124),
 ('DT.AMT.DLXF.CD', 'Principal repayments on external debt, long-term (AMT, current US$)', 124),
 ('DT.DIS.DLXF.CD', 'Disbursements on external debt, long-term (DIS, current US$)', 123),
 ('DT.INT.BLAT.CD', 'PPG, bilateral (INT, current US$)', 122),
 ('DT.DIS.OFFT.CD', 'PPG, official creditors (DIS, current US$)', 122),
 ('DT.AMT.BLAT.CD', 'PPG, bilateral (AMT, current US$)', 122),
 ('DT.DIS.MLAT.CD', 'PPG, multilateral (DIS, current US$)', 120),
 ('DT.DIS.BLAT.CD', 'PPG, bilateral (DIS, current US$)', 113),
 ('DT.INT.PRVT.CD', 'PPG, private creditors (INT, current US$)', 98),
 ('DT.AMT.PRVT.CD', 'PPG, private creditors (AMT, current US$)', 98),
 ('DT.INT.PCBK.CD', 'PPG, commercial banks (INT, current US$)', 84),
 ('DT.AMT.PCBK.CD', 'PPG, commercial banks (AMT, current US$)', 84),
 ('DT.INT.DPNG.CD', 'Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)', 79),
 ('DT.AMT.DPNG.CD', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 79),
 ('DT.INT.PBND.CD', 'PPG, bonds (INT, current US$)', 69),
 ('DT.AMT.PBND.CD', 'PPG, bonds (AMT, current US$)', 69),
 ('DT.INT.PROP.CD', 'PPG, other private creditors (INT, current US$)', 54),
 ('DT.AMT.PROP.CD', 'PPG, other private creditors (AMT, current US$)', 54),
 ('DT.DIS.PRVT.CD', 'PPG, private creditors (DIS, current US$)', 53),
 ('DT.DIS.PCBK.CD', 'PPG, commercial banks (DIS, current US$)', 51),
 ('DT.DIS.PROP.CD', 'PPG, other private creditors (DIS, current US$)', 19)]

In [58]:
#Total debt by all countries in the tables
%sql SELECT SUM(debt) as sum_debt FROM international_debt;

 * sqlite:///database.sqlite
Done.

[(3079734487675.7915,)]

In [59]:
#Top 10 countries have the most debt in the tables
%sql SELECT country_name,SUM(debt) as sum_debt FROM international_debt GROUP BY 1 ORDER BY 2 DESC LIMIT 10;

 * sqlite:///database.sqlite
Done.

[('China', 285793494734.2),
 ('Brazil', 280623966140.8),
 ('South Asia', 247608723990.60007),
 ('Least developed countries: UN classification', 212880992791.90002),
 ('Russian Federation', 191289057259.19998),
 ('IDA only', 179048127207.30002),
 ('Turkey', 151125758035.30002),
 ('India', 133627060958.40001),
 ('Mexico', 124596786217.29999),
 ('Indonesia', 113435696693.5)]

In [60]:
#Top 10 countries have the least debt in the tables
%sql SELECT country_name,SUM(debt) as sum_debt FROM international_debt GROUP BY 1 ORDER BY 2 ASC LIMIT 10;

 * sqlite:///database.sqlite
Done.

[('Sao Tome and Principe', 44798032.5),
 ('Tonga', 55209304.8),
 ('Comoros', 57568483.2),
 ('Timor-Leste', 71000959.19999999),
 ('Turkmenistan', 95135629.29999998),
 ('Solomon Islands', 105104467.3),
 ('Samoa', 112946425.5),
 ('Somalia', 119614074.89999999),
 ('Eritrea', 132493809.29999998),
 ('Dominica', 138044299.79999995)]

In [73]:
# Top 10 Total debt classified by indicators
%sql SELECT indicator_name, indicator_code, SUM(debt) as sum_debt from international_debt GROUP BY 1,2 ORDER BY 3 DESC LIMIT 10;

 * sqlite:///database.sqlite
Done.

[('Principal repayments on external debt, long-term (AMT, current US$)', 'DT.AMT.DLXF.CD', 732203681785.9001),
 ('Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 'DT.AMT.DPNG.CD', 407734352371.2001),
 ('Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', 264701069677.49997),
 ('PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', 238995981248.8999),
 ('Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', 203858984388.7),
 ('PPG, private creditors (AMT, current US$)', 'DT.AMT.PRVT.CD', 176762021992.39996),
 ('PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', 147707307422.29996),
 ('PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', 138214739815.0),
 ('PPG, multilateral (DIS, current US$)', 'DT.DIS.MLAT.CD', 100781241433.90001),
 ('Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)', 'DT.INT.DPNG.CD', 96412456709.29999)]

In [74]:
# Top 10 AVG debt classified by indicators
%sql SELECT indicator_name, indicator_code, AVG(debt) as avg_debt from international_debt GROUP BY 1,2 ORDER BY 3 DESC LIMIT 10;

 * sqlite:///database.sqlite
Done.

[('Principal repayments on external debt, long-term (AMT, current US$)', 'DT.AMT.DLXF.CD', 5904868401.499195),
 ('Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 'DT.AMT.DPNG.CD', 5161194333.812659),
 ('Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', 2152041216.8902435),
 ('PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', 1958983452.8598351),
 ('PPG, private creditors (AMT, current US$)', 'DT.AMT.PRVT.CD', 1803694101.963265),
 ('Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', 1644024067.6508067),
 ('PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', 1223139290.39823),
 ('Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)', 'DT.INT.DPNG.CD', 1220410844.4215188),
 ('PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', 1191187963.083064),
 ('PPG, bonds (AMT, current US$)', 'DT.AMT.PBND.CD', 1082623947.6536236)]

In [81]:
#Which countries has highes amounts of long term debtL: Principal repayments on external debt, long-term 

%sql SELECT country_name,indicator_name, max(debt) as max_debt FROM international_debt WHERE indicator_code='DT.AMT.DLXF.CD';

 * sqlite:///database.sqlite
Done.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)', 96218620835.7)]

In [86]:
#Countries have biggest debt by indcators
%sql SELECT country_name,indicator_name, max(debt) as max_debt FROM international_debt GROUP BY 1,2 ORDER BY 3 DESC LIMIT 10 ;

 * sqlite:///database.sqlite
Done.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)', 96218620835.7),
 ('Brazil', 'Principal repayments on external debt, long-term (AMT, current US$)', 90041840304.1),
 ('China', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 72392986213.8),
 ('Russian Federation', 'Principal repayments on external debt, long-term (AMT, current US$)', 66589761833.5),
 ('Turkey', 'Principal repayments on external debt, long-term (AMT, current US$)', 51555031005.8),
 ('South Asia', 'Principal repayments on external debt, long-term (AMT, current US$)', 48756295898.2),
 ('Brazil', 'PPG, private creditors (AMT, current US$)', 43598697498.6),
 ('Russian Federation', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 42800154974.9),
 ('Brazil', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 41831444053.3),
 ('Least developed countries: UN classification', 'Disbursements on external debt, long-term (DIS, current US$)', 40160766261.6)]